
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .caja {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  
  form {
    text-align: left;
  }
  
  
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .cpntraseña {
    position: relative;
  }
  

  
  .caja2 {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .caja2 label {
    display: flex;
    align-items: center;
  }
  
  .caja2 input[type="checkbox"] {
    margin-right: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
  }
  
